---
parser: babel-eslint

extends:
  - ./node_modules/fbjs-scripts/eslint/.eslintrc

plugins:
  - react

globals:
  ReactElement: false

# We're stricter than the default config, mostly. We'll override a few rules and
# then enable some React specific ones.
rules:
  brace-style: [2, 1tbs]
  comma-dangle: [2, always-multiline]
  consistent-return: 2
  dot-location: [2, property]
  dot-notation: 2
  eol-last: 2
  indent: [2, 2, {SwitchCase: 1}]
  no-multi-spaces: 2
  no-shadow: 2
  no-unused-expressions: 2
  no-unused-vars: [2, {args: none}]
  quotes: [2, single, avoid-escape]
  space-after-keywords: 2
  space-before-blocks: 2
  strict: [2, global]

  # JSX
  # Our transforms set this automatically
  react/display-name: 0
  react/jsx-boolean-value: [2, always]
  react/jsx-no-undef: 2
  react/jsx-quotes: [2, double]
  # We don't care to do this
  react/jsx-sort-prop-types: 0
  react/jsx-sort-props: 0
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-unknown-property: 2
  react/react-in-jsx-scope: 2
  react/self-closing-comp: 2
  react/wrap-multilines: [2, {declaration: false, assignment: false}]

  # TODO: we might want these, but currently have multiple warnings
  space-before-function-paren: 0
  comma-dangle: 0
  consistent-return: 0
  no-redeclare: 0
  dot-notation: 0
  prefer-const: 0
