/node_modules
/test/build
/shells/chrome/build
/shells/firefox/build
/shells/firefox/data/build
/shells/electron/build
/shells/electron/node_modules
/shells/chrome.crx
/shells/chrome.pem
/shells/plain/build
/plugins/node_modules
/backend/integration/node_modules
/backend/integration/v0.11/node_modules
/backend/integration/v0.12/node_modules
/backend/integration/v0.13/node_modules
/backend/integration/v0.14/node_modules
/backend/integration/build
/shells/firefox/*.xpi
npm-debug.log
