*.swp
/node_modules
/test/build
/shells/chrome/build
/shells/firefox/build
/shells/firefox/data/build
/shells/electron/build
/shells/electron/node_modules
/shells/chrome.crx
/shells/chrome.pem
/shells/plain/build
/plugins/node_modules
*.swo
backend/__tests__/node_modules
backend/__tests__/v0.11/node_modules
backend/__tests__/v0.12/node_modules
backend/__tests__/v0.13/node_modules
backend/__tests__/v0.14/node_modules
backend/__tests__/build
